1. Python is a high-level, easy-to-learn programming language known for its clear syntax and versatility. It's popular because it's beginner-friendly, has a huge ecosystem of libraries, supports many applications (like web development, data science, and automation), and is backed by a strong community.

2.An interpreter in Python is a program that reads and executes Python code line by line, translating it into machine code at runtime.

3.Pre-defined keywords in Python are reserved words that have special meaning and cannot be used as variable names. Examples: if, else, while, for, def, class.

4.No, keywords cannot be used as variable names because they are reserved for specific language functions.

5.Mutability in Python refers to whether an objectâ€™s value can be changed after it's created. Mutable objects (like lists, dictionaries) can be changed; immutable ones (like strings, tuples) cannot.

6.Lists are mutable because they are designed to allow modifications (like adding or removing elements), while tuples are immutable to provide a stable, unchangeable structure, ensuring data integrity and allowing them to be used as keys in dictionaries.

7.== checks if the values of two objects are equal.

is checks if two objects refer to the same memory location (i.e., whether they are the same object).

8.The logical operators in Python are:

and: Returns True if both conditions are true.

or: Returns True if at least one condition is true.

not: Returns the opposite of the condition (inverts it).

9.Type casting in Python is the process of converting one data type to another. This can be done explicitly using functions like:

int(): Converts to an integer.

float(): Converts to a floating-point number.

str(): Converts to a string.

10.Implicit type casting (automatic conversion): Python automatically converts one data type to another when needed, without any user intervention.

Explicit type casting (manual conversion): The programmer explicitly converts one data type to another using functions like int(), float(), or str().

11.Conditional statements in Python (if, elif, else) are used to execute different blocks of code based on certain conditions. They allow the program to make decisions and control the flow of execution.

12.The elif (short for "else if") statement in Python allows you to check multiple conditions sequentially. If the condition in the if statement is false, it checks the condition in the elif statement. If the elif condition is true, the corresponding block of code is executed.

13.for loop: Iterates over a sequence (like a list, tuple, or range) for a specific number of times.

while loop: Repeats as long as a given condition is true.

14.A while loop is more suitable when the number of iterations is unknown and depends on a condition that may change during execution.


PRACTICAL QUESTIONS

1.

In [1]:
print("Hello, World!")

Hello, World!

2.

In [5]:
name = "Your Name"  # Replace with your name
age = 30             # Replace with your age

print("Name:", name)
print("Age:", age)

Name: Your Name
Age: 30

3.

In [4]:
import keyword

# Print all Python keywords
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

4.

In [6]:
import keyword

# Get the word from the user
word = input("Enter a word: ")

# Check if the word is a Python keyword
if keyword.iskeyword(word):
    print(f"'{word}' is a Python keyword.")
else:
    print(f"'{word}' is not a Python keyword.")

Enter a word: word
'word' is not a Python keyword.

5.

In [7]:
# Creating a list and tuple
my_list = [1, 2, 3, 4]
my_tuple = (1, 2, 3, 4)

# Changing an element in the list (allowed)
my_list[1] = 10
print("List after modification:", my_list)

# Attempting to change an element in the tuple (will raise an error)
try:
    my_tuple[1] = 10
except TypeError as e:
    print("Error when modifying tuple:", e)

List after modification: [1, 10, 3, 4]
Error when modifying tuple: 'tuple' object does not support item assignment

6.

In [8]:
def demo_mutable_immutable(lst, tup):
    # Modifying the mutable list
    lst.append(4)

    # Trying to modify the immutable tuple (will not work)
    try:
        tup[0] = 10  # This will raise an error
    except TypeError as e:
        print("Error when modifying tuple:", e)

    # Printing the results
    print("List after modification:", lst)
    print("Tuple after modification attempt:", tup)

# Create a mutable list and an immutable tuple
my_list = [1, 2, 3]
my_tuple = (1, 2, 3)

# Call

7.

In [10]:
# Taking user input for two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing arithmetic operations
addition = num1 + num2
# Taking user input for two numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2 if num2 != 0 else "Undefined (division by zero)"

Enter the first number: 2
Enter the second number: 5
Enter the first number: 2
Enter the second number: 5

8.

In [11]:
# Taking user input for two numbers
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))

# Using logical operators
if x > 0 and y > 0:
    print("Both numbers are positive.")
else:
    print("At least one number is not positive.")

if x > 0 or y > 0:
    print("At least one of the numbers is positive.")
else:
    print("Neither number is positive.")

if not (x > 0 and y > 0):
    print("At least one of the numbers is not positive.")
else:
    print("Both numbers are positive.")

Enter the first number: 4
Enter the second number: 6
Both numbers are positive.
At least one of the numbers is positive.
Both numbers are positive.

9.

In [12]:
# Taking user input as string
user_input = input("Enter a value: ")

# Converting input to integer, float, and boolean
int_value = int(user_input) if user_input.isdigit() else "Invalid input for integer"
float_value = float(user_input) if user_input.replace('.', '', 1).isdigit() else "Invalid input for float"
bool_value = user_input.lower() in ['true', '1', 'yes']  # Converting to boolean

Enter a value: 6

10.

In [14]:
# List with elements of different types
my_list = ['10', '20.5', 'True', '100']

# Type casting the elements of the list
# List with elements of different types
my_list = ['10', '20.5', 'True', '100']

# Type casting the elements of the list
int_list = [int(x) if x.isdigit() else 0 for x in my_list]  # Convert to integers
float_list = [float(x) if x.replace('.', '', 1).isdigit() else 0.0 for x in my_list]  # Convert to floats
bool_list = [x.lower() for x in my_list]

11.

In [15]:
# Taking user input
num = float(input("Enter a number: "))

# Checking the number's sign
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 8
The number is positive.

12.

In [16]:
# Using a for loop to print numbers from 1 to 10
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

13.

In [17]:
# Initialize sum variable
sum_even = 0

# Loop through numbers from 1 to 50
for i in range(1, 51):
    if i % 2 == 0:  # Check if the number is even
        sum_even += i

# Print the result
print("Sum of all even numbers between 1 and 50:", sum_even)

Sum of all even numbers between 1 and 50: 650

14.

In [18]:
# Taking user input
user_input = input("Enter a string: ")

# Initialize variables
reversed_string = ""
index = len(user_input) - 1

# Use a while loop to reverse the string
while index >= 0:
    reversed_string += user_input[index]
    index -= 1

# Print the reversed string
print("Reversed string:", reversed_string)

Enter a string: string
Reversed string: gnirts

15.

In [19]:
# Taking user input
num = int(input("Enter a number: "))

# Initialize factorial variable
factorial = 1

# Check if the number is negative, zero or positive
if num < 0:
    print("Factorial does not exist for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    # Using while loop to calculate factorial
    i = 1
    while i <= num:
        factorial *= i
        i += 1
    print(f"The factorial of {num} is {factorial}.")

Enter a number: 34
The factorial of 34 is 295232799039604140847618609643520000000.